// edit variables
// Core colors
// $primary-color: lighten(#5755d9, 10%);
// $primary-color-dark: darken($primary-color, 3%);
// $primary-color-light: lighten($primary-color, 3%);
// $secondary-color: lighten($primary-color, 37.5%);
// $secondary-color-dark: darken($secondary-color, 3%);
// $secondary-color-light: lighten($secondary-color, 3%);

// // Gray colors
// $dark-color: darken(#ffffff, 20%);
// $light-color: darken(#454d5d, 10%);
// $gray-color: lighten($dark-color, 40%);
// $gray-color-dark: darken($gray-color, 25%);
// $gray-color-light: lighten($gray-color, 20%);

// $border-color: lighten($dark-color, 60%);
// $border-color-dark: darken($border-color, 10%);
// $bg-color: lighten($dark-color, 66%);
// $bg-color-dark: darken($bg-color, 3%);
// $bg-color-light: $light-color;

// // Control colors
// $success-color: #32b643;
// $warning-color: #ffb700;
// $error-color: #e85600;

// // Other colors
// $code-color: #d73e48;
// $highlight-color: #ffe9b3;
// $body-bg: $bg-color-light;
// $body-font-color: lighten($dark-color, 5%);
// $link-color: $primary-color;
// $link-color-dark: darken($link-color, 10%);
// $link-color-light: lighten($link-color, 10%);

// import libs
// Variables and mixins
@import "~spectre.css/src/variables";
@import "~spectre.css/src/mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "~spectre.css/src/normalize";
@import "~spectre.css/src/base";

// Elements
@import "~spectre.css/src/typography";
// @import "~spectre.css/src/asian";
// @import "~spectre.css/src/tables";
@import "~spectre.css/src/buttons";
@import "~spectre.css/src/forms";
@import "~spectre.css/src/labels";
@import "~spectre.css/src/codes";
// @import "~spectre.css/src/media";

// Layout
@import "~spectre.css/src/layout";
@import "~spectre.css/src/navbar";

// Components
// @import "~spectre.css/src/accordions";
// @import "~spectre.css/src/avatars";
// @import "~spectre.css/src/badges";
// @import "~spectre.css/src/breadcrumbs";
// @import "~spectre.css/src/bars";
// @import "~spectre.css/src/cards";
// @import "~spectre.css/src/chips";
// @import "~spectre.css/src/dropdowns";
@import "~spectre.css/src/empty";
// @import "~spectre.css/src/menus";
@import "~spectre.css/src/modals";
@import "~spectre.css/src/navs";
@import "~spectre.css/src/pagination";
// @import "~spectre.css/src/panels";
// @import "~spectre.css/src/popovers";
// @import "~spectre.css/src/steps";
// @import "~spectre.css/src/tabs";
// @import "~spectre.css/src/tiles";
@import "~spectre.css/src/toasts";
// @import "~spectre.css/src/tooltips";

// Utility classes
@import "~spectre.css/src/animations";
@import "~spectre.css/src/utilities";

/*! Spectre.css Experimentals v#{$version} | MIT License | github.com/picturepan2/spectre */
// Experimentals
// @import "~spectre.css/src/autocomplete";
// @import "~spectre.css/src/calendars";
// @import "~spectre.css/src/carousels";
// @import "~spectre.css/src/comparison-sliders";
// @import "~spectre.css/src/filters";
// @import "~spectre.css/src/meters";
@import "~spectre.css/src/off-canvas";
// @import "~spectre.css/src/parallax";
// @import "~spectre.css/src/progress";
// @import "~spectre.css/src/sliders";
// @import "~spectre.css/src/timelines";

@import "~spectre.css/src/spectre-icons";
@import "./styles/responsive-table";

// style App
.app-navbar {
  height: 3.8rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .btn {
    position: absolute;
    right: 1.5rem;
    top: 1rem;

    &.off-canvas-toggle {
      font-size: 1rem;
    }
  }
}

.app-sidebar.off-canvas-sidebar:not(.active) {
  // height: stretch;
  background: unset;
}

.app-brand {
  color: $primary-color;
  left: 1.5rem;
  position: fixed;
  top: .85rem;
}

.app-nav {
  bottom: 1.5rem;
  overflow-y: auto;
  padding: .5rem 1.5rem;
  position: fixed;
  top: 3.5rem;
  // width: 12rem;
}

.app-content.off-canvas-content {
  padding: .4rem .4rem .4rem .4rem;
}

@media (max-width: $size-lg) {
  .app-navbar {
    background: rgba(248, 249, 250, .65);
    left: 0;
  }
}
