@import "./styles/variables";

// import libs
// Variables and mixins
@import "~spectre.css/src/variables";
@import "~spectre.css/src/mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "~spectre.css/src/normalize";
@import "~spectre.css/src/base";

// Elements
@import "~spectre.css/src/typography";
// @import "~spectre.css/src/asian";
// @import "~spectre.css/src/tables";
@import "~spectre.css/src/buttons";
@import "~spectre.css/src/forms";
// @import "~spectre.css/src/labels";
// @import "~spectre.css/src/codes";
// @import "~spectre.css/src/media";

// Layout
@import "~spectre.css/src/layout";
@import "~spectre.css/src/navbar";

// Components
// @import "~spectre.css/src/accordions";
// @import "~spectre.css/src/avatars";
// @import "~spectre.css/src/badges";
// @import "~spectre.css/src/breadcrumbs";
// @import "~spectre.css/src/bars";
// @import "~spectre.css/src/cards";
@import "~spectre.css/src/chips";
// @import "~spectre.css/src/dropdowns";
@import "~spectre.css/src/empty";
@import "~spectre.css/src/menus";
@import "~spectre.css/src/modals";
@import "~spectre.css/src/navs";
@import "~spectre.css/src/pagination";
// @import "~spectre.css/src/panels";
// @import "~spectre.css/src/popovers";
// @import "~spectre.css/src/steps";
// @import "~spectre.css/src/tabs";
// @import "~spectre.css/src/tiles";
@import "~spectre.css/src/toasts";
@import "~spectre.css/src/tooltips";

// Utility classes
@import "~spectre.css/src/animations";
@import "~spectre.css/src/utilities";

/*! Spectre.css Experimentals v#{$version} | MIT License | github.com/picturepan2/spectre */
// Experimentals
@import "~spectre.css/src/autocomplete";
// @import "~spectre.css/src/calendars";
// @import "~spectre.css/src/carousels";
// @import "~spectre.css/src/comparison-sliders";
// @import "~spectre.css/src/filters";
// @import "~spectre.css/src/meters";
@import "~spectre.css/src/off-canvas";
// @import "~spectre.css/src/parallax";
// @import "~spectre.css/src/progress";
// @import "~spectre.css/src/sliders";
// @import "~spectre.css/src/timelines";

@import "~spectre.css/src/spectre-icons";

$app-navbar-height: 2.8rem;

// style App
.app-navbar {
  height: $app-navbar-height;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .btn {
    margin-right: 0.4rem;

    &.off-canvas-toggle {
      font-size: 1rem;
    }
  }

  .off-canvas-toggle {
    position: unset;
    margin-left: 0.4rem;
  }
}

.app-brand {
  color: $primary-color !important;
  font-size: 0.9rem;
  text-decoration: none;
  height: 2rem;
  overflow: hidden;

  a {
    color: $primary-color !important;
  }

  img {
    width: 8rem;
  }
}

.app-sidebar.off-canvas-sidebar {
  min-width: 13rem;

  .app-brand {
    left: 1.5rem;
    position: fixed;
    top: .85rem;
  }
}

.app-nav {
  bottom: 1.5rem;
  overflow-y: auto;
  padding: .5rem 1.5rem;
  position: fixed;
  top: 3.5rem;
}

.app-content.off-canvas-content {
  min-height: 100vh;
  // padding: .0rem .4rem .4rem .4rem;
  padding: .0rem 1.4rem 1.4rem 1.4rem;
}

.app-content .s-title,
.app-content .s-subtitle {
  position: sticky;
  top: 0;
  z-index: 99;
  line-height: 1.8rem;
  background-color: $body-bg;
  padding: 0.6rem;
  margin: 0 0 0 -0.6rem;
}

.app-content .s-title {
  margin: -0.6rem -0.6rem 0.6rem -0.6rem;
}

.app-content .s-title::before,
.app-content .s-subtitle::before {
  background: $bg-color-light;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  z-index: -1;
}

.has-success .form-input,
.has-success .form-select,
.form-input.is-success,
.form-select.is-success {
  background: rgba(0, 255, 0, 0.05);
}

.has-error .form-input,
.has-error .form-select,
.form-input.is-error,
.form-select.is-error {
  background: rgba(255, 0, 0, 0.05);
}

.input-group-addon.input-group-icon {
  line-height: normal;
  cursor: pointer;
}

.app-content table.responsive-table:not(.horizontal) thead {
  top: $app-navbar-height;
}

input[type=date].unstyled,
input[type=time].unstyled,
input[type=datetime-local].unstyled {
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator,
  &::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
  }
}

.badge::after {
  z-index: 5;
}

.input-group {
  .form-custom-input,
  .form-autocomplete {
    display: flex;
    flex: 1 1 auto;
    width: 1%;

    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: -0.05rem;
    }
  }

  .input-group-addon.input-group-icon {
    line-height: normal;
  }
}

.card.box-shadow {
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
}

.float-menu .menu {
  transform: unset;
}

@media (max-width: $size-lg) {
  .app-navbar {
    background: $bg-color;
    left: 0;
  }

  .app-content .s-title,
  .app-content .s-subtitle {
    position: static;
    padding: 3rem 0 0.6rem 0;
    margin: unset;
  }
}
